<!DOCTYPE html>
<html>
    <head>
        <title>About me</title>
            <!--Compiled and minified CSS-->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js.map"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js.map"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
            <link rel="stylesheet" href="css/style.css">

    </head>

    <header>
    <h1>
      <center><img src="" height=50px><strong>Vishwesh Hande</strong></center>
    </h1>
  </header>


    <body style="background-color:lightgrey">

    <nav class="navbar navbar-inverse">

            <ul class="nav navbar-nav">
				<li><a href="index.html">Home</a></li>
				<li><a href="about-me.html">About Me</a></li>
				<li><a href="books.html">Recently Read</a></li>
            </ul>
    </nav>

    <h2><center>ALL ABOUT ME</center></h2><br>
    <div id="randomUsersApp">
    <div v-for="user in users" class="container-fluid text-center bg-1">
      <br>
      <a v-bind:href="user.picture.large" data-toggle="lightbox" data-title="It's me" data-footer="https://randomuser.me/photos">
      <img v-bind:src="user.picture.large" alt="https://randomuser.me/photos" class="img-circle img-fluid" height=200px>
      </a>
      <h3>{{user.name.first}}&nbsp;{{user.name.last}}</h3>
    </div>

    <div v-for="user in users" class="container-fluid text-center bg-2">
      <br>

        <h3>{{user.nat}}</h3>
      </a>
      <h3>Where did it all begin?</h3>
    </div>

    <div v-for="user in users" class="container-fluid text-center bg-3">
      <br>

      <h3>{{user.dob.date}}</h3>

      <h3>When did it all begin</h3>
    </div>

    <div v-for="user in users" class="container-fluid text-center bg-4">
      <br>

      <h3>{{user.dob.age}}</h3>
      <h3>Years young</h3>
    </div>

    <div v-for="user in users" class="container-fluid text-center bg-5">
      <br>
        <a href="img/mail3.png" data-toggle="lightbox" data-title="@" data-footer="https://en.wikipedia.org/wiki/Email">
      <img id="image" src="img/mail3.png" alt="https://en.wikipedia.org/wiki/Email" class="img-circle" height=180px>
</a>

      <h3><a href="mailto:gail.johnston93@example.com" target="_top" id="link">{{user.email}}</a></h3>
    </div>

    <div>
    <form class="buttonform" v-on:submit.prevent="submitFunction">
          <button id="button" type="submit" class="btn btn-primary">Refresh</button>
        </form>
      </div>
</div>


<script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
            </script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/app.js"></script>

    </body>

    <hr id="horizontal">
    <footer>
    <center>
    VH | Phone: 812-368-994 | Kelley School of Business</center>
    </footer>
    </html>
